doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Uncle Mike Variable Font Module
    link(rel="shortcut icon" type="image/png" href="")  
    link(rel="apple-touch-icon" href="")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="static/css/bulma.css")
    link(rel="stylesheet" href="static/css/fonts.css")
    link(rel="stylesheet" href="static/css/base.css")
    
  body
    div.is-fixed-top
      .section#font-controls.has-padding-2-bottom-mobile
        .container
          #font-type-controls.columns.is-variable.is-8.is-multiline.is-vcentered
            #font-properties.column.is-narrow
              form.is-flex.has-align-center
                p.has-margin-right.is-hidden-touch Size
                .control.is-flex.has-align-center.is-fullwidth-mobile
                  input#range-size.input.slider.is-paddingless.is-fullwidth-mobile(type="range" min="0" value="50" max="100")
            .column.is-full-mobile
              .columns.is-mobile.is-vcentered.is-variable.is-0-mobile
                #font-sets.column.is-half-mobile.is-narrow
                #font-toggle.column.is-half-mobile
    #font-display.section.is-paddingless-top.is-paddingless-bottom
      .container
        .columns
          .column.is-paddingless-top.is-paddingless-bottom
            #text-area
              p.is-inline-block(contenteditable) ARETHA
    #font-selection
      ul
        li umAnimalStatic
        li arethaVariable 
        li staticWithSets
        li trispaceVariable
    script(src="static/js/fonts.js")
    script(src="static/js/base_ui.js")
