doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Uncle Mike Variable Font Module
    link(rel="shortcut icon" type="image/png" href="")  
    link(rel="apple-touch-icon" href="")
    link(rel="stylesheet" href="static/css/bulma.css")
    link(rel="stylesheet" href="static/css/base.css")
    
  body
    div.is-fixed-top
      .section#font-controls.is-bottom-paddingless
        .container
          .columns.is-variable.is-8.is-multiline.is-vcentered
            .column
              form
                .field
                  .control.is-extended
                    .select.is-fullwidth-mobile
                      select#select-style.select-field
                        option(value="Animal-reg") Regular
                        option(value="Animal-demi") Demi Bold
            .column
              form.is-flex.has-align-center
                p.has-margin-right.is-hidden-touch Size
                .control.is-flex.has-align-center.is-fullwidth-mobile
                  input#range-size.input.slider.is-paddingless.is-fullwidth-mobile(type="range" min="10" max="50")
            .column.is-full-mobile.is-half-desktop
              .columns.is-mobile
                .column.is-half-mobile
                  form.is-flex
                    p Stylistic&nbsp;Sets
                    .field.is-grouped
                      .control.is-flex.has-align-center
                        a.is-disabled A
                      .control.is-flex.has-align-center
                        a.is-disabled B
                      .control.is-flex.has-align-center
                        a.is-disabled C
                .column.is-half-mobile
                  form.is-flex.is-pulled-right
                    p Variable
                    label.switch
                      input(type="checkbox")
                      span.toggle.round
    #font-display.section.is-top-paddingless.is-bottom-paddingless
      .container
        .columns
          .column.is-bottom-paddingless
            #text-area(contenteditable)
              p The Quick Brown Fox Jumped Over the Lazy Brown Dog (Type Here)...
    script(src="static/js/fonts.js")
    script(src="static/js/base_ui.js")
