doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Uncle Mike Variable Font Module
    link(rel="shortcut icon" type="image/png" href="")  
    link(rel="apple-touch-icon" href="")
    link(rel="stylesheet" href="static/css/bulma.css")
    link(rel="stylesheet" href="static/css/base.css")
    
  body
    #wrapper
      .section
        .container#form-container
          .columns
            .column
              form
                .field.is-horizontal
                  .field-label.is-normal
                    label.label Option 1
                  .field-body
                    .field
                      .control.is-expanded
                        .select.is-fullwidth
                          select
                            option(value="a") A
                  .field-label.is-normal
                    label.label Variable 1
                  .field-body
                    .field
                      .control
                        input.input(type="range" min="100" max="900" value="350" class="slider" id="myRange")
                  .field-label.is-normal
                    label.label Option 2
                  .field-body
                    .field.is-grouped
                      .control
                        a A
                      .control
                        a B
                      .control
                        a C
                .field
                  .control
                    #text-area(contenteditable)
                      p Hello
    script(src="static/js/base_ui.js")
