highlightColor = #F6A920

noBorder()
  box-shadow:none
  border-color:#dbdbdb
  outline:none

@font-face{
  font-family: 'Aretha Variable';
  font-weight: 100 900;
  font-style: normal;
  font-stretch: normal;
  src: url('../VAR/ArethaGX.ttf') format('truetype-variations');
}

@font-face{
  font-family: 'Animal-reg';
  src: url('../fonts/UM_Animal-Regular.otf');
}

@font-face{
  font-family: 'Animal-demi';
  src: url('../fonts/UM_Animal-DemiBold.otf');
}

@font-face{
  font-family: 'Animal-black';
  src: url('../fonts/UM_Animal-Black.otf');
}

// * { background-color: rgba(255,0,0,.2); }
// * * { background-color: rgba(0,255,0,.2); }
// * * * { background-color: rgba(0,0,255,.2); }
// * * * * { background-color: rgba(255,0,255,.2); }
// * * * * * { background-color: rgba(0,255,255,.2); }
// * * * * * * { background-color: rgba(255,255,0,.2); }
// * * * * * * * { background-color: rgba(255,0,0,.2); }
// * * * * * * * * { background-color: rgba(0,255,0,.2); }
// * * * * * * * * * { background-color: rgba(0,0,255,.2); }

//----------------GLOBALS----------------------//
body
  font-family:"sans-serif"
  font-size:1.2em

a
  color: highlightColor
  &:visited
    color: highlightColor
  &.is-disabled
    color:black
    opacity: 0.25
    pointer-events: none

.label
  font-weight:400

form *
  font-family:"Animal-reg"

//------------------AREAS---------------------//
#select-style
  option
    text-transform: capitalize

.select:not(.is-multiple):not(.is-loading)::after
  content: '\f0d7'
  font: normal normal normal 17px/1 FontAwesome
  color: black
  height: 0.625em
  width: 0.625em
  display:block
  position: absolute
  right: 11px
  margin-top: -0.5em
  top: 50%
  pointer-events: none
  -webkit-transform-origin: center
  -ms-transform-origin: center
  transform-origin: center
  transform: scale(.75,1.25)

select::-ms-expand
  display: none

.select select
  border-radius:2px

@media screen and (max-width: 768px)
  .select:not(.is-multiple):not(.is-loading)::after
    margin-top: -0.6em
  .select select
    height:2em

input[type="range"]
  height:1px
  &.input
    &:active
      noBorder()
    &:focus
      noBorder()

.slider
  -webkit-appearance: none
  width: 100%
  height: 15px
  border-radius: 5px
  background: #d3d3d3
  outline: none
  &::-webkit-slider-thumb
    -webkit-appearance: none
    appearance: none
    width: 15px
    height: 15px
    border-radius: 50%
    background: black
    cursor: pointer
  &::-moz-range-thumb
    width: 15px
    height: 15px
    border-radius: 50%
    background: black
    cursor: pointer

//-----VariableToggle----//
switchHeight = 22px
.switch
  position: relative
  display: inline-block
  width: 40px
  height: switchHeight
  input
    opacity: 0
    width: 0
    height: 0
    &:checked + .toggle
      background-color: black
    &:checked + .toggle:before
      -webkit-transform: translateX(switchHeight - 5px)
      -ms-transform: translateX(switchHeight - 5px)
      transform: translateX(switchHeight - 5px)

.toggle
  position: absolute
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #ddd
  -webkit-transition: .4s
  transition: .4s
  &:before
    position: absolute
    content: ""
    height: switchHeight - 2px
    width: switchHeight - 2px
    left: 2px
    top:1px
    background-color: white
    box-shadow:0px 2px 2px rgba(0,0,0,0.6)
    -webkit-transition: .4s
    transition: .4s

.toggle.round
  border-radius: 34px
  &:before
    border-radius: 50%

#font-selection
  ul
    li
      display:inline

#font-display
  margin-top:288px
@media screen and (min-width:769px)
  #font-display
    margin-top:132px

#text-area
  background-color:transparent
  p
    width:100%
    min-height:200px
    font-family:'Animal-reg'
    font-size: 2.5rem
    --wght:500
    --ital:75
    font-variation-settings: "wght" var(--wght), "ital" var(--ital)
    /* font-variation-settings: "wght" 459, "ital" 25 */
    &:focus
      outline:none !important

//----------HELPERS--------------//
div.is-fixed-top
  position:fixed
  width:100%
  top:0
  z-index:1
  background-color:white

.has-margin-right
  margin-right:1rem

.has-align-center
  align-items:center

.is-paddingless-bottom
  padding-bottom:0 !important

.is-paddingless-top
  padding-top:0 !important

@media only screen and (max-width: 768px)
  .select.is-fullwidth-mobile
    width:100%
    select
      width:100%
  .is-fullwidth-mobile
    width:100%
  .has-padding-1-top-mobile
    padding-top:1.5rem !important
