body {
  font-family: "sans-serif";
  font-size: 1.2em;
}
a {
  color: #f6a920;
}
a:visited {
  color: #f6a920;
}
a.is-disabled {
  color: #000;
  opacity: 0.25;
  pointer-events: none;
}
form * {
  font-family: "umAnimalStatic";
}
.label {
  font-weight: 400;
}
@media only screen and (max-width: 768px) {
  .column {
    padding: 1.25rem;
  }
}
#font-controls {
  background: #fff;
  background: linear-gradient(180deg, #fff 76%, rgba(255,255,255,0) 100%);
}
#select-style option {
  text-transform: capitalize;
}
.select:not(.is-multiple):not(.is-loading)::after {
  content: '\f0d7';
  font: normal normal normal 17px/1 FontAwesome;
  color: #000;
  height: 0.625em;
  width: 0.625em;
  display: block;
  position: absolute;
  right: 11px;
  margin-top: -0.6em;
  top: 50%;
  pointer-events: none;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  transform: scale(0.75, 1.25);
}
@media screen and (max-width: 768px) {
  .select:not(.is-multiple):not(.is-loading)::after {
    margin-top: -0.21em;
  }
}
select::-ms-expand {
  display: none;
}
.select select {
  border-radius: 2px;
  border-color: #dfdfdf;
  min-width: 200px;
}
@media screen and (max-width: 768px) {
  .select select {
    height: 2em;
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 768px) {
  .is-variable-range-slider {
    margin-bottom: 1rem;
  }
}
input[type="range"] {
  height: 1px;
}
input[type="range"].input:active {
  box-shadow: none;
  border-color: #dbdbdb;
  outline: none;
}
input[type="range"].input:focus {
  box-shadow: none;
  border-color: #dbdbdb;
  outline: none;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
  }
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .toggle {
  background-color: #000;
}
.switch input:checked + .toggle:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.toggle:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  top: 1px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.6);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.toggle.round {
  border-radius: 34px;
}
.toggle.round:before {
  border-radius: 50%;
}
#font-display {
  margin-top: 288px;
}
@media screen and (min-width: 769px) {
  #font-display {
    margin-top: 132px;
  }
}
#text-area {
  background-color: transparent;
}
#text-area p {
  width: 100%;
  min-height: 200px;
  font-size: 2.5rem;
  vertical-align: top;
}
#text-area p:focus {
  outline: none !important;
}
#font-selection {
  position: fixed;
  opacity: 0.9;
  bottom: 5px;
  left: 5px;
  background: rgba(100,100,100,0.5);
  border-radius: 5px;
}
#font-selection ul li {
  margin: 5px;
  cursor: pointer;
}
div.is-fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.has-margin-right {
  margin-right: 1rem;
}
.has-align-center {
  align-items: center;
}
.is-paddingless-bottom {
  padding-bottom: 0 !important;
}
.is-paddingless-top {
  padding-top: 0 !important;
}
.has-transition-opacity {
  transition: opacity 1s;
}
.has-transition-opacity.fade-out {
  opacity: 0;
}
@media only screen and (max-width: 768px) {
  .select.is-fullwidth-mobile {
    width: 100%;
  }
  .select.is-fullwidth-mobile select {
    width: 100%;
  }
  .is-fullwidth-mobile {
    width: 100%;
  }
  .has-padding-2-bottom-mobile {
    padding-bottom: 2rem !important;
  }
}
