@font-face{
  font-family: 'arethaVariable';
  font-weight: 100 900;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/ArethaGX.ttf') format('truetype-variations');
}

@font-face{
  font-family: 'umAnimalStatic';
  src: url('../fonts/UM_Animal-Regular.otf');
}

@font-face{
  font-family: 'umAnimalStatic-demi';
  src: url('../fonts/UM_Animal-DemiBold.otf');
}

@font-face{
  font-family: 'umAnimalStatic-black';
  src: url('../fonts/UM_Animal-Black.otf');
}

@font-face {
	font-family: 'trispace';
	 src: url('../fonts/ETCTrispace-Regular.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'trispace-bold';
	 src: url('../fonts/ETCTrispace-Bold.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'trispace-variable';
	 src: url('../fonts/ETCTrispaceVariable.woff2') format('woff2-variations');
}

#text-area p.arethaVariable{
  --wght:500;
  --ital:50;
  font-variation-settings: "wght" var(--wght), "ital" var(--ital);
}

#text-area p.trispaceVariable{
  --wght:500;
  --wdth:125;
  font-variation-settings: "wght" var(--wght), "ital" var(--ital);
}
